<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
    </head>
    <body>
        <h1>Money Transfer Comparison!</h1>
        {% if quote_collection %}
        	Number of Vendors: {{ quote_collection|length }}
        {% else %}
        	No Vendors!
        {% endif %}

        <table>
        	<tr>
        	{% for vendor, quote in quote_collection.items %}
        		<th>
        			{{ vendor }}
        		</th>	
        	{% endfor %}
        	</tr>
        	<tr>
        	{% for vendor, quote in quote_collection.items %}
        		<td>
        			{{ quote }}
        		</td>	
        	{% endfor %}
        	</tr>
        </table>
    </body>
</html>